spring:
  application:
    name: similarity-aggregator
  cache:
    type: caffeine
    enabled: true
    caffeine:
      spec: maximumSize=500,expireAfterAccess=10s

server:
  port: 5000

similar-products:
  api:
    base-url: http://localhost:3001
    timeout: 2s

resilience4j:
  circuitbreaker:
    instances:
      similarIds:
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        slowCallDurationThreshold: 2s
        slowCallRateThreshold: 80
        ignore-exceptions:
          - com.example.similarityaggregator.domain.exception.ProductNotFoundException
      productDetail:
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        slowCallDurationThreshold: 2s
        slowCallRateThreshold: 80

logging:
  level:
    io.github.resilience4j: DEBUG