spring:
  application:
    name: similarity-aggregator
  cache:
    type: caffeine
    enabled: true
    caffeine:
      spec: maximumSize=500,expireAfterAccess=60s
  reactor:
    context-propagation: auto

server:
  port: 5000

similar-products:
  api:
    base-url: http://localhost:3001
    timeout: 5s

resilience4j:
  circuitbreaker:
    instances:
      similarIds:
        registerHealthIndicator: true
        slidingWindowSize: 50
        minimumNumberOfCalls: 20
        failureRateThreshold: 50
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 5
        slowCallDurationThreshold: 2s
        slowCallRateThreshold: 80
        ignore-exceptions:
          - com.example.similarityaggregator.domain.exception.ProductNotFoundException
      productDetail:
        registerHealthIndicator: true
        slidingWindowSize: 50
        minimumNumberOfCalls: 20
        failureRateThreshold: 50
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 5
        slowCallDurationThreshold: 2s
        slowCallRateThreshold: 80
        ignore-exceptions:
          - com.example.similarityaggregator.domain.exception.ProductNotFoundException


management:
  otlp:
    metrics:
      export:
        url: http://localhost:4318/v1/metrics
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/traces
    logging:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/logs
  tracing:
      sampling:
        probability: 1.0
  observations:
    enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,metrics,circuitbreakers,caches
  endpoint:
    health:
      show-details: always
  health:
    circuitbreakers:
      enabled: true
