spring:
  application:
    name: similarity-aggregator
  cache:
    type: caffeine
    enabled: true
    caffeine:
      spec: maximumSize=500,expireAfterAccess=10s

server:
  port: 5000

similar-products:
  api:
    base-url: http://localhost:3001
    timeout: 2s

